body {
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  border: 4px solid black;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.fecha {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50pt;
  color: white;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}
.blackk {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 148pt;
  color: black;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 220px;
}
.friday {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 163pt;
  color: white;
  background-color: black;
  padding-top: 120px;
  padding-bottom: 120px;
}
.descuento {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36pt;
  margin-bottom: 15px;
  color: black;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 120px;
}
.descuento strong {
  font-weight: 900;
  font-size: 45pt;
}
.cierre {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44pt;
  color: white;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}
