@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.separador {
  margin-bottom: 0px;
  border: none;
  height: 30px;
  width: 100%;
  background-color: #3c54f3;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
}

nav img#logo {
  width: 5%;
}

nav a {
  text-decoration: none;
  color: #04146c;
  font-size: 18pt;
  margin-left: 50px;
  margin-right: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

nav a:focus {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

form h1 {
  font-family: "Roboto Slab", serif;
  font-size: 45.33333333333333px;
  font-weight: 700;
  color: #2c00cc;
  margin-bottom: 40px;
}

form p {
  font-size: 30.666666666666664px;
  font-weight: 400;
  color: #04146c;
  margin-bottom: 40px;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-size: 30.666666666666664px;
  font-weight: 700;
  color: #04146c;
  width: 500px;
  margin-bottom: 20px;
  position: relative;
}

.required {
  color: red;
}

.form-input,
.form-textarea {
  font-family: "Roboto", sans-serif;
  width: 500px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 40px;
  padding: 5px;
  border: #2c00cc solid 1px;
}

.form-textarea {
  height: 100px;
  resize: none;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn-reset,
.btn-submit {
  font-family: "Roboto Slab", sans-serif;
  font-size: 32px;
  color: #fff;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 40px;
  width: 200px;
}

.btn-reset {
  background-color: #f98500;
}

.btn-submit {
  background-color: #2c00cc;
}

footer {
  background-color: #3c54f3;
  height: 120px;
}

footer img {
  width: 10%;
  margin-left: 80px;
  margin-top: 40px;
}
